@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic,300italic,300&subset=latin,cyrillic-ext,cyrillic');
body {
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.34em;
    font-family: 'Roboto', Helvetica;
    color: #333;
}
body > font.tablebodytext{
    display:none;
}

img {border:0 none;}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', Helvetica; 
    margin:1.3em 0 0.8em;
    font-weight:normal;
    line-height:1.0;
    letter-spacing: 0;
}

h1 { font-size:200%; font-weight: lighter; margin:0 0 1em; }
h2 { font-size:160%; font-weight: lighter; }
h3 { font-size:150%; font-weight: lighter; line-height:1.34em;}
h4 { font-size:140%; font-weight: lighter; line-height:1.34em; }
h5 { font-size:120%; font-weight: lighter; line-height:1.34em; }
h6 { font-size:100%; font-weight: lighter; line-height:1.34em; }

hr, .hr 
{
    border-top:1px solid;
    display:block;
    font-size:1px;
    height:1px;
    line-height:1px;
    margin:12px 0;
    overflow:hidden;
    padding:0;
}

blockquote{
    background: #f0f0f0;
    padding: 15px 25px;
}
a{
    color: #333;
    text-decoration: underline;
}
a:hover{
    color: #f58222;
    text-decoration: none;
}
#workarea p {
    letter-spacing: 0.03em;
    margin: 15px 0;
}
#workarea div {
    letter-spacing: 0.03em;
}
#workarea table{
    letter-spacing: 0.03em;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Roboto', Helvetica;
    color: #333;
    margin: 15px 0;
}
#workarea ol, #workarea ul  { margin: 0.6em 0; padding: 0 0 0 25px; }
#workarea ol li, #workarea ul li { margin: 0.6em 0; }
#workarea ul { list-style-type: none; }
#workarea ul li::before {
    content: "\002022 ";
    color: #f58222; 
    float: left;
    margin-left: -20px;
    font-size: 32px;
}


.company-requisites-link{
    padding: 5px 0;
    display: block;
    overflow: hidden;
    line-height: 45px;
}
.company-requisites-link::before{
    content: " ";
    display: block;
    float:left;
    width: 57px;
    height: 57px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin: -5px 15px 0 0;
    background: url(images/ico_doc.png) no-repeat scroll center center transparent;
}
.italic-big{
    font-size: 150%;
    font-style: italic;
    font-weight: lighter;
    line-height: 1.34em;
}