
/* Sidebar menu */
#sidebar #sidebar-links #link_company >a{
    background-image: url('images/ico_info.png');
}
#sidebar #sidebar-links #link_companyhead >a{
    background-image: url('images/ico_person.png');
}
#sidebar #sidebar-links #link_companylicenses >a{
    background-image: url('images/ico_document.png');
}
#sidebar #sidebar-links #link_companypartners >a{
    background-image: url('images/ico_partners.png');
}
#sidebar #sidebar-links #link_companyvacancies >a{
    background-image: url('images/ico_vacancies.png');
}

#sidebar-text .company-requisites-link{
    padding: 5px 0;
    display: block;
    line-height: 1.34em;
}

/* Homepage: Content styles */
.homepage{
    background: none;
}
.homepage .homepage-block{
    overflow: hidden;
    clear: both;
}
.homepage .homepage-block > h2{
    font-size:200%; 
    font-weight: lighter;
    margin-top: 35px;
    margin-bottom: 55px;
}
.homepage .homepage-block > h2 span{
    background: #fff;
    font-family: 'Roboto Condensed', Helvetica;
    text-transform: uppercase;
}
.homepage .homepage-block> h2::before{
    content: " ";
    position: absolute;
    left:0;
    right: calc(50% - 405px);
    background: url('images/bg_header-line.png') no-repeat scroll right top -26px transparent;
    height: 100px;
    margin-top: -34px;
    z-index: -1;
}
.homepage .homepage-block#homepage_strategy> h2::before{
    content: " ";
    position: absolute;
    left:0;
    right: calc(50% - 105px);
}
.homepage .homepage-block#homepage_news> h2::before{
    display: none;
}
.homepage .homepage-block > h2 a.see-all{
    font-size: 16px;
    font-family: 'Roboto', Helvetica;
    text-transform: none;
    font-style: italic;
    color: #f58222;
    text-decoration: underline;
    margin-left: 30px;
}

#widget_services{
    position: relative;
    overflow: hidden;
}
#services_circle_sectors_images {
    width: 1244px;
    height: 1244px;
    background: #fafafa;
    border: none;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    display: block;
    left:50%;
    margin: -224px 0 0 -622px;
}
#services_circle_sectors_images img{
    position: absolute;
    width: 600px;
    opacity:0;
    transition: none;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
#services_circle_sectors_images img.hover{
    z-index: 1;
    opacity: .15;
    transition: transform linear 2700ms,opacity linear 500ms;
    transform: scale(1.1,1.1);
    /*    filter:none;
        filter: none;  IE6-9 
        -webkit-filter: grayscale(0%);  Chrome 19+, Safari 6+, Safari 6+ iOS */
    /*    opacity:.13;
        transition: all 300ms ease-in-out 50ms;*/
}
#services_circle_sectors_images img:nth-child(1){
    right:50%;
    top:50%;
    margin-top: -200px;
    margin-right: 50px;
}
#services_circle_sectors_images img:nth-child(2){
    right:50%;
    bottom:50%;
    margin-top: -50px;
}
#services_circle_sectors_images img:nth-child(3){
    right:50%;
    bottom: 50%;
    width: 400px;
    margin-right: -100px;
    margin-bottom: 200px;
}
#services_circle_sectors_images img:nth-child(4){
    left:50%;
    bottom:50%;
    width: 400px;
    margin-left: -100px;
    margin-bottom: 100px;
}
#services_circle_sectors_images img:nth-child(5){
    left:50%;
    bottom:50%;
}
#services_circle_sectors_images img:nth-child(6){
    left:50%;
    top:50%;
    margin-top: -150px;
    margin-left: 150px;
}
#services_circle_sectors_images img:nth-child(7){
    left:50%;
    top:50%;
}
#services_circle_sectors_images img:nth-child(8){
    left:50%;
    top:50%;
    width: 400px;
    margin-left: -100px;
    margin-top: 200px;
}
#services_circle_sectors_images img:nth-child(9){
    right:50%;
    top:50%;
    width: 400px;
    margin-right: -100px;
    margin-top: 200px;
}
#services_circle_sectors_images img:nth-child(10){
    right:50%;
    top:50%;
}
#services_circle_sectors,
#services_circle_sectors_hover{
    width: 1246px;
    height: 1246px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /*display: none;*/
    margin: -225px 0 0 -622px;
    left: 50%;
}
#widget_services.loaded #services_circle_sectors,
#widget_services.loaded #services_circle_sectors_hover {
    display: block;
}
#widget_services.loaded #services_circle_sectors_hover{
    z-index: 12;
    margin-top: -1246px;
}
#services_circle_sectors .sector_item,
#services_circle_sectors_hover .sector_item {
    position: absolute;
    z-index: 2;
    transform-origin: 100% 100%;
    background: #fff;
    border: 1px solid #fff;
    width: 800px;
    height: 800px;
    left: 50%;
    top: 50%;
    margin-top: -800px;
    margin-left: -800px;
    box-sizing: border-box;
    /*transition: opacity ease 400ms;*/
}
#services_circle_sectors .sector_item.hover ,
#services_circle_sectors .sector_item:hover {
    /*opacity:0;*/
    background: transparent;
    border-color: #f5f5f5;
}
#services_circle_sectors .sector_item.start {
    /*opacity:0;*/
    background: transparent;
    border-color: #ebebeb;
    /*transition:none;*/
    /*transition: opacity ease 200ms;*/
}
#services_circle_sectors_hover .sector_item {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
#widget_services #services_shadow{
    background: url(images/bg_homepage_widget_shadow.png) no-repeat center center #fff scroll;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    opacity:0;
    width: 488px;
    height: 488px;
    margin: -244px 0 0 -244px;
    -webkit-transition: all 1600ms ease-in-out; /* older webkit */
    -webkit-transition: all 1600ms ease-in-out; 
    -moz-transition: all 1600ms ease-in-out; 
    -o-transition: all 1600ms ease-in-out; 
    transition: all 1600ms ease-in-out; /* custom */
}
#widget_services.loaded #services_shadow{
    opacity:1;
}
#widget_services #services_circles span,
#widget_services #services_circles_pulsar span{
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 50%;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    width: 1700px;
    height: 1700px;
    margin: -850px 0 0 -850px;
    -webkit-transition: all 600ms ease-in-out; /* older webkit */
    -webkit-transition: all 600ms ease-in-out; 
    -moz-transition: all 600ms ease-in-out; 
    -o-transition: all 600ms ease-in-out; 
    transition: all 600ms ease-in-out; /* custom */
}
#widget_services #services_circles_pulsar span,
#widget_services #services_circles span:nth-child(5){
    display: none;
}
#widget_services.circles1 #services_circles span,
#widget_services.circles1 #services_circles span:nth-child(2),
#widget_services.circles1 #services_circles span:nth-child(3),
#widget_services.circles1 #services_circles span:nth-child(4){
    width: 225px;
    height: 225px;
    margin: -112px 0 0 -112px;
}
#widget_services #services_circles_pulsar span,
#widget_services.circles1.circles2 #services_circles span{
    width: 1700px;
    height: 1700px;
    margin: -850px 0 0 -850px;
}
#widget_services #services_circles span:nth-child(2),
#widget_services #services_circles_pulsar span:nth-child(2),
#widget_services.circles1.circles2 #services_circles span:nth-child(2){
    width: 1600px;
    height: 1600px;
    margin: -800px 0 0 -800px;
}
#widget_services #services_circles span:nth-child(3),
#widget_services #services_circles_pulsar span:nth-child(3),
#widget_services.circles1.circles2 #services_circles span:nth-child(3){
    width: 1346px;
    height: 1346px;
    margin: -673px 0 0 -673px;
}
#widget_services #services_circles span:nth-child(4),
#widget_services #services_circles_pulsar span:nth-child(4),
#widget_services.circles1.circles2 #services_circles span:nth-child(4){
    width: 1246px;
    height: 1246px;
    margin: -626px 0 0 -624px;
}
#widget_services.circles1 #services_circles span:nth-child(5){
    width: 488px;
    height: 488px;
    margin: -245px 0 0 -245px;
    border: 2px solid #f58222;
    z-index: 2;
    display: block;
}
#widget_services.circles3 #services_circles_pulsar span{
    display: block;
    z-index: 5;
    transition: none;
    opacity: 0.5;
}
#widget_services #services_circles_pulsar.pulse span{
    border-color: #f58222;
    /*border-width: 30px;*/
    transform: scale(1.2);
    opacity: 0;
    transition: all ease-out 1000ms, border-color 0ms, border-width ease-in 1000ms ;
    
}
#widget_services #services_circles_pulsar.pulse span:nth-child(1){
    transition-delay: 500ms
}
#widget_services #services_circles_pulsar.pulse span:nth-child(4){
    transition-delay: 1000ms
}
#widget_services #services_circles_pulsar.pulse span:nth-child(3){
    transition-delay: 1500ms
}
#widget_services #services_circle{
    background: url(images/bg_homepage_widget_circle.png) no-repeat center center transparent scroll;
    background-size: cover;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 50%;
    width: 225px;
    height: 225px;
    margin: -112px 0 0 -112px;
    -webkit-transition: all 600ms cubic-bezier(0.130, 1, 0.260, 0.835) 1000ms; /* older webkit */
    -webkit-transition: all 600ms cubic-bezier(0.130, 1.650, 0.260, 0.835) 1000ms; 
    -moz-transition: all 600ms cubic-bezier(0.130, 1.650, 0.260, 0.835) 1000ms; 
    -o-transition: all 600ms cubic-bezier(0.130, 1.650, 0.260, 0.835) 1000ms; 
    transition: all 600ms cubic-bezier(0.130, 1.650, 0.260, 0.835) 1000ms; /* custom */
}
#widget_services.loading #services_circle{
    opacity: 1;
    width: 490px;
    height: 490px;
    margin: -245px 0 0 -245px;
    border-radius: 50%;
}
#widget_services.loaded #services_circle{
    -webkit-transform: rotate(180deg);
    -webkit-transition: -webkit-transform 2s;
}
#widget_services #big_logo_wrapper{
    width: 225px;
    height: 225px;
    border: 1px solid #ebebeb;
    border-radius: 112px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -112px 0 0 -112px;
    z-index: 13;
}
#widget_services #big_logo{
    background: url(images/logo-big.png) no-repeat center center transparent;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    /* width: 1px;
    height: 1px;
    margin: -1px 0 0 -1px;
    opacity: 0.5; */
    width: 800px;
    height: 800px;
    margin: -400px 0 0 -400px;
    opacity: 0; 
    -webkit-transition: all 500ms cubic-bezier(0.130, 1, 0.260, 0.835); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835); 
    -moz-transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835); 
    -o-transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835); 
    transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835); /* custom */
}
#widget_services.loading #big_logo{
    width: 122px;
    height: 122px;
    margin: -62px 0 0 -62px;
    opacity: 1;
}

#widget_services #services_icons .services-icon{
    display: block;
    position: absolute;
    z-index: 6;
    width: 54px;
    height: 54px;
    left: 50%;
    top: 50%;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.130, 1, 0.260, 0.835) 1500ms; /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835) 1500ms; 
    -moz-transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835) 1500ms; 
    -o-transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835) 1500ms; 
    transition: all 500ms cubic-bezier(0.130, 1.750, 0.260, 0.835) 1500ms; /* custom */
}
#widget_services.loaded #services_icons .services-icon{
    opacity: 1;
}
#widget_services.loaded #services_icons .services-icon:before{
    content: " ";
    position: absolute;
    width: 108px;
    height: 108px;
    margin: -27px 0 0 -27px;
}
#widget_services.loaded #services_icons .hover .services-icon:before{
    background: radial-gradient(rgba(245, 130, 34, 0.15),rgba(245, 130, 34, 0.05),rgba(245, 130, 34, 0), rgba(245, 130, 34, 0));
}
#widget_services #services_icons .services-item:nth-child(1) .services-icon{
    margin: -27px 0 0 -210px;
    transition-delay: 1500ms;
}
#widget_services #services_icons .services-item:nth-child(2) .services-icon{
    margin: -130px 0 0 -180px;
    transition-delay: 1600ms;
}
#widget_services #services_icons .services-item:nth-child(3) .services-icon{
    margin: -200px 0 0 -80px;
    transition-delay: 1700ms;
}
#widget_services #services_icons .services-item:nth-child(4) .services-icon{
    margin: -200px 0 0 30px;
    transition-delay: 1800ms;
}
#widget_services #services_icons .services-item:nth-child(5) .services-icon{
    margin: -130px 0 0 130px;
    transition-delay: 1900ms;
}
#widget_services #services_icons .services-item:nth-child(6) .services-icon{
    margin: -27px 0 0 160px;
    transition-delay: 2000ms;
}
#widget_services #services_icons .services-item:nth-child(7) .services-icon{
    margin: 80px 0 0 130px;
    transition-delay: 2100ms;
}
#widget_services #services_icons .services-item:nth-child(8) .services-icon{
    margin: 150px  0 0 30px;
    transition-delay: 2200ms;
}
#widget_services #services_icons .services-item:nth-child(9) .services-icon{
    margin: 150px  0 0 -80px;
    transition-delay: 2300ms;
}
#widget_services #services_icons .services-item:nth-child(10) .services-icon{
    margin: 80px 0 0 -180px;
    transition-delay: 2400ms;
}

#widget_services #services_icons .service-link{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    opacity: 1;
    width: 125px;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', Helvetica;
    text-decoration: none;
    transition: all 1000ms ease-in-out 1000ms;
    opacity: 0;
    z-index: 11;
}
#widget_services.loaded #services_icons .service-link{
    opacity: 1;
}
#widget_services.circles3 #services_icons .service-link::before{
    content: " ";
    display: block;
    width: 300px;
    height: 300px;
    margin: -125px 0 0 -75px;
    position: absolute;
    background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));  
    z-index: -1;    
}

#widget_services #services_icons .services-item.hover .service-link{
    color: #f58222;
    transition: none;
    text-shadow: 0 0 3px white, 0 0 1em white;
    /*    background: rgba(255,255,255,0.5);
        border-radius: 50%;
        box-shadow: 0 0 3em rgba(255,255,255,0.5);*/
}
#widget_services #services_icons .services-item:nth-child(1) .service-link{
    margin: -270px 0 0 -5000px;
}
#widget_services.loaded #services_icons .services-item:nth-child(1) .service-link{
    margin: -27px 0 0 -500px;
}
#widget_services #services_icons .services-item:nth-child(2) .service-link{
    margin: -2400px 0 0 -4000px;
}
#widget_services.loaded #services_icons .services-item:nth-child(2) .service-link{
    margin: -240px 0 0 -400px;
}
#widget_services #services_icons .services-item:nth-child(3) .service-link{
    margin: -3400px 0 0 -1800px;
}
#widget_services.loaded #services_icons .services-item:nth-child(3) .service-link{
    margin: -340px 0 0 -180px;
}
#widget_services #services_icons .services-item:nth-child(4) .service-link{
    margin: -3400px 0 0 500px;
}
#widget_services.loaded #services_icons .services-item:nth-child(4) .service-link{
    margin: -340px 0 0 50px;
}
#widget_services #services_icons .services-item:nth-child(5) .service-link{
    margin: -2400px 0 0 2400px;
    width: 175px;
}
#widget_services.loaded #services_icons .services-item:nth-child(5) .service-link{
    margin: -240px 0 0 240px;
}
#widget_services #services_icons .services-item:nth-child(6) .service-link{
    margin: -270px 0 0 3000px;
    width: 200px;
}
#widget_services.loaded #services_icons .services-item:nth-child(6) .service-link{
    margin: -27px 0 0 300px;
}
#widget_services #services_icons .services-item:nth-child(7) .service-link{
    margin: 2000px 0 0 2200px;
    width: 200px;
}
#widget_services.loaded #services_icons .services-item:nth-child(7) .service-link{
    margin: 200px 0 0 220px;
}
#widget_services #services_icons .services-item:nth-child(8) .service-link{
    margin: 3000px  0 0 500px;
    width: 175px;
}
#widget_services.loaded #services_icons .services-item:nth-child(8) .service-link{
    margin: 300px  0 0 30px;
}
#widget_services #services_icons .services-item:nth-child(9) .service-link{
    margin: 3000px  0 0 -1800px;
}
#widget_services.loaded #services_icons .services-item:nth-child(9) .service-link{
    margin: 300px  0 0 -180px;
}
#widget_services #services_icons .services-item:nth-child(10) .service-link{
    margin: 1800px 0 0 -4000px;
}
#widget_services.loaded #services_icons .services-item:nth-child(10) .service-link{
    margin: 200px 0 0 -400px;
}

#head_quote{
    margin: 25px 0 25px 112px;
    background: transparent;
    border-left: 1px solid #f58222;
    padding: 0 15px;
    position: relative;
}
#head_quote::before{
    content: " ";
    display:block;
    width: 90px;
    height: 90px;
    margin-left: -132px;
    background: url(images/logo2.png) no-repeat left center transparent scroll;
    float: left;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;
}
#head_quote::after{
    content: " ";
    display: block;
    width: 17px;
    height: 28px;
    position: absolute;
    background: url(images/quote_arrow.png) no-repeat center center transparent scroll;
    left: -17px;
    top: 28px;
}
#head_quote .quote{
    font-style: italic;
    font-size: 125%;
}
#head_quote .head_name{
    font-size: 160%;
    line-height: 100%;
    margin-top: 30px;
}
#head_quote .head_jobtitle{
    margin-top: 5px;
    color: #969696;
}

/* Homepage: Services */
#homepage_services{
    height: 750px;
}
#homepage_services #widget_services{ 
    margin: -50px 0 0;
    position: absolute;
    width: 100%;
    height: 800px;
    left:0;
}
#homepage_services #widget_services:before{ 
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 72px;
    top: 0px;
    background: url(images/bg_header.png) repeat-x center top -65px transparent;
    z-index: 10;
}
#homepage_services #widget_services:after{ 
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 67px;
    top: 733px;
    background: url(images/bg_header_flipped.png) repeat-x center bottom -65px transparent;
    z-index: 10;
}

/* Homepage: Strategy */
#homepage_strategy {
    float:left;
    width: 653px;
    padding-right: 15px;
    clear: none;
}

/* Homepage: News */
#homepage_news {
    float:left;
    width: 457px;
    padding-left: 15px;
    clear: none;
}

/* Homepage: Principles */
#homepage_principles a{
    text-decoration: none;
}
#homepage_principles table{
    width: 100%;
}
#homepage_principles td{
    padding: 0 15px;
    text-align: center;
    width: 1%;
    vertical-align: top;
}
#homepage_principles h3{
    font-family: "Roboto Condensed", helvetica;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}


/* Company: Content styles */
.innerpage.company .company-info-block{
    overflow: hidden;
}
.innerpage.company .company-info-block > h2 span{
    background: #fff;
    padding-right: 15px;
}
.innerpage.company .company-info-block > h2::after{
    content: " ";
    border-top: 1px solid #f58222;
    display: block;
    margin: -15px 0 15px;
}


/* Company: Head */
.innerpage.company #company_head .company-info-items{
    margin: 0 -15px;
    padding: 15px 0 30px;
}
.innerpage.company #company_head .info-item{
    width: 252px;
    margin: 10px 15px;
    padding: 0;
    float:left;
    height: 132px;
    overflow: hidden;
    text-align: center;
    position: relative;
    border: 1px solid #ebebeb;
}
.innerpage.company #company_head .item-property .property-name{
    display: none;
}
.innerpage.company #company_head .info-item .item-name{
    font-weight: lighter;
    line-height: 1.2em;
    margin: 20px 0 10px;
}
.innerpage.company #company_head .info-item .item-name a{
    text-decoration: none;
}
.innerpage.company #company_head .info-item .item-name a:hover{
    color: #333;
}
.innerpage.company #company_head .info-item .item-name::after{
    content: " ";
    display: block;
    width: 30px;
    height: 10px;
    border-bottom: 1px solid #f58222;
    margin: 0 auto;
}

/* Company: Documents */
.innerpage.company #company_licenses .company-info-items{
    margin: 0 -15px;
    padding: 15px 0 30px;
}
.innerpage.company #company_licenses .info-item{
    width: 252px;
    margin: 10px 15px;
    padding: 0;
    float:left;
    height: 338px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.innerpage.company #company_licenses .info-item > a.preview_picture_link{
    display:block;
    width:164px;
    height: 232px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ebebeb;
}
.innerpage.company #company_licenses .info-item:hover > a.preview_picture_link::before{
    content: " ";
    display: block;
    position: absolute;
    width:164px;
    height: 232px;
    background: url('images/overlay_magnifier.png') no-repeat scroll center center #f58222;
    opacity: 0.5;
    z-index: 10;
}
.innerpage.company #company_licenses .info-item .preview_picture{
    height: 232px;
    width: auto;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.innerpage.company #company_licenses .info-item:hover .preview_picture{

    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}
.innerpage.company #company_licenses .info-item .item-name{
    font-size: 15px;
    line-height: 20px;
    font-weight: lighter;
}
.innerpage.company #company_licenses .info-item .item-name a{
    text-decoration: none;
}
.innerpage.company #company_licenses .info-item .item-name a:hover{
    color: #333;
}
.innerpage.company #company_licenses .info-item .item-name::after{
    content: " ";
    display: block;
    position: absolute;
    width: 300px;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,255));
    z-index: 10;
    bottom: 0;
}
.innerpage.company #company_licenses .info-item .field_DETAIL_PICTURE,
.innerpage.company #company_licenses .info-item .item-property{
    display: none;
}

/* Company: Partners */
.innerpage.company #company_partners .company-info-items{
    margin: 0 -15px;
    padding: 15px 0 30px;
}
.innerpage.company #company_partners .info-item{
    width: 262px;
    margin: 10px 15px;
    float:left;
    height: 107px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    position: relative;
}
.innerpage.company #company_partners .info-item .preview_picture_link{
    display: block;
    width: 100%;
    height: 100%;
}
.innerpage.company #company_partners .info-item .preview_picture{
    height: auto;
    width: auto;
    max-width: 262px;
    max-height: 107px;
    vertical-align: middle;
    width: auto;
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    float: none !important;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
.innerpage.company #company_partners .info-item:hover .preview_picture{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}
.innerpage.company #company_partners .info-item .item-name,
.innerpage.company #company_partners .info-item .item-property{
    display:none;
}

/* Company: Vacancies */
.innerpage.company #company_vacancies h3 a{
    text-decoration: none;
    border-bottom: 1px dotted #f58222;
    color: #f58222;
}
.innerpage.company #company_vacancies .property-name{
    display: block;
    color: #f58222;
}
.innerpage.company #company_vacancies .property_duties{
    float:left;
    /*border-bottom: 1px solid #ebebeb;*/
    padding: 0 0 10px;
    width: 500px;
}
.innerpage.company #company_vacancies .property_duties .property-name{
    display: none;
}
.innerpage.company #company_vacancies .property_experience,
.innerpage.company #company_vacancies .property_education,
.innerpage.company #company_vacancies .property_salary{
    float:right;
    width: 270px;
    /*margin-right: 1%;*/
    font-size: 13px;
    line-height: 18px;
    padding: 0 0 6px 16px;
    margin-bottom: 1px;
    text-transform: lowercase;
    border-left: 1px dotted #f58222;
}
.innerpage.company #company_vacancies .property_salary{
    margin-right: 0%;
}


/* Projects tile */
.innerpage .projects-list.projects-tile .tile-column{
    float:left;
    width: 50%;
    overflow: hidden;
}

/* Contacts */
.innerpage.contacts #filials_map_wrapper{
    height: 420px;
}

.innerpage.contacts #workarea .contacts-detail{
    overflow: hidden;
    margin-bottom: 30px;
}
.innerpage.contacts #workarea .item-name{
    display: none;
}
.innerpage.contacts #workarea .detail_text{
    float:right;
    width: 750px;
}
.innerpage.contacts #workarea .item-property{
    overflow: hidden;
    margin: 0 0 30px ;
    line-height: 44px;
}
.innerpage.contacts #workarea .item-property-name{
    display: none;
}
.innerpage.contacts #workarea .item-property::before{
    content:" ";
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    background: url('images/ico_phone.png') no-repeat center center transparent;
    margin: 0 15px 0 0;
}
.innerpage.contacts #workarea .item-property.phone,
.innerpage.contacts #workarea .item-property.email{
    font-size:150%;
}
.innerpage.contacts #workarea .item-property.address .item-property-value{
    display: inline-block;
    max-width: 300px;
    line-height: 1.34em;
}
.innerpage.contacts #workarea .item-property.address::before{

    background: url('images/ico_address.png') no-repeat center center transparent;
}
.innerpage.contacts #workarea .item-property.email::before{
    background: url('images/ico_email.png') no-repeat center center transparent;
}


/* Forms */
.alx_feed_back {
    overflow: hidden;
}
.alx_feed_back .afbf_item_pole{
    margin: 20px 0;
}
#workarea input[type=text],
#workarea input[type=password],
#workarea textarea,
#workarea select,
.afbf_item_pole .afbf_select, 
.afbf_item_pole .afbf_textarea, 
.afbf_item_pole .afbf_inputtext{
    background-color: #ebebeb;
    border: 1px solid #ACACAC;
    border-radius: 4px;
    padding: 10px 15px !important;
    height: auto !important;
}
.afbf_item_pole .afbf_name{
    margin: 0 0 15px;
}
#workarea button,
#workarea input[type=button],
#workarea input[type=reset],
#workarea input[type=submit],
#workarea .alx_feed_back .afbf_feedback_poles .afbf_btn{
    border: 1px solid  #f58222 !important;
    border-radius: 20px !important;
    height: 40px !important;
    padding: 7px 50px !important;
    text-transform: none !important;
    box-shadow: none !important;
}
#workarea input[type=submit],
#workarea .alx_feed_back .afbf_feedback_poles .afbf_btn{
    background: #f58222 !important;
}
.innerpage.purchases .alx_feed_back .afbf_item_pole {
    width: 555px;
    margin-right: 30px;
    float:left;

}

.innerpage.purchases .alx_feed_back .afbf_item_pole:nth-child(even){
    margin-right: 0;
}
.innerpage.purchases .alx_feed_back .item_pole__captcha{
    width: 360px;
    margin-top: -160px;
}