@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=cyrillic,cyrillic-ext');

html { width:100%; height: 100%; }

body
{
    height:100%;
    margin:0;
    padding:0;
    max-width: 2000px;
    min-width: 1260px;
    background: url('images/bg_header.png') repeat-x scroll top center;
    overflow-x: hidden;
}


#page-wrapper .page-section-wrapper > .page-section{
    margin: 0 auto;
    width: 1140px;
    padding: 0 15px;
}

/* -- Header: start --*/
#header-wrapper{
    background: #fff;
}
#header{
    height: 65px;
}
#header #logo{
    height: 65px;
    width: 195px;
    float:left;
}
#header #logo a{
    height: 65px;
    width: 180px;
    display: block;
    text-decoration: none;
    background: url(images/logo.png) no-repeat scroll -15px 0 transparent;
}
#header #top-menu{
    float:left;
    height: 40px;
    line-height: 20px;
    padding: 25px 15px 0;
}
#header #phone{
    height: 65px;
    line-height: 20px;
    float: right;
    padding: 25px 15px 0;
}
#header #phone a{
    text-decoration: none;
    color: #333;
    font: bold 25px/20px 'Roboto Black', helvetica;
    padding: 0 0 0 15px;
}
#header #phone::before{
    content: " ";
    display: block;
    float: left;
    height:26px;
    width: 26px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background: url('images/ico_phone_orange.png') no-repeat scroll center center;
    margin: -3px 0 0;
}
#header #lang-icons{
    padding: 23px 0 0 15px;
    float: right;
    line-height: 26px;
}
#header #lang-icons a{
    border: 1px solid #ebebeb;
    font: normal 16px/20px  'Roboto Condensed', Helvetica;
    color: #333;
    text-decoration: none;
    padding: 3px 7px;
    float:left;
}
#header #lang-icons a.selected{
    background: #f58222;
    color: #fff;
}
#header #lang-icons a:first-child{
    border-radius: 4px 0 0 4px;
}
#header #lang-icons a:last-child{
    border-radius: 0 4px 4px 0;
}
/* -- Header: end --*/


/* -- Content: start --*/
#pagetitle-background{
    background: url('images/bg_header-line.png') no-repeat scroll right top transparent;
    position: absolute;
    height: 127px;
    left:0;
    right: calc(50% - 585px);
}
#pagetitle-wrapper h1#pagetitle{
    padding: 50px 0 10px;
    font-family: "Roboto Condensed", Helvetica;
    font-weight: lighter;
    text-transform: uppercase;
    position: relative;
}
#pagetitle-wrapper h1#pagetitle > span{
    display: block;
    max-width: 820px;
    overflow: hidden;
}
#content-wrapper-outer{
    background: url('images/bg_content_bottom_right.png') no-repeat scroll right bottom -120px transparent;
}
#content-wrapper-inner{
    padding: 50px 0;
    background: url('images/bg_content_bottom_left.png') no-repeat scroll left bottom -120px transparent;
}
#content {
    padding: 0 15px;
    min-height: 100px;
}

#content.with-sidebar #workarea{
    margin-left: 293px;
}
#content #sidebar{
    float:left;
    width: 263px;
}
#content #sidebar #sidebar-links{
    border: 1px solid #ebebeb;
    list-style: none;
    padding: 0;
    margin: 0;
}
#sidebar #sidebar-links li{
    border-bottom: 1px solid #ebebeb;        
}
#sidebar #sidebar-links li a{
    padding: 13px 18px 13px 68px;
    display: block;
    color: #f58222;
    text-decoration: none;
    background: no-repeat scroll 24px center transparent;
}
#sidebar #sidebar-links li a:hover{
    background-color: #f5f5f5;
}
#content #sidebar #sidebar-text{
    padding: 15px 0;
}

#content .services-icon {
    background-repeat: no-repeat;
}
#content .services-icon.ico_geodezicheskie_raboty{   
    background-image: url('images/services/geodezicheskie_raboty.png');	
}
#content .services-icon.ico_podgotovitelnye_raboty{
    background-image: url('images/services/podgotovitelnye_raboty.png');	
}	
#content .services-icon.ico_zemlyanye_raboty{
    background-image: url('images/services/zemlyanye_raboty.png');	
}	
#content .services-icon.ico_ustroystvo_skvazhin{
    background-image: url('images/services/ustroystvo_skvazhin.png');	
}	
#content .services-icon.ico_svaynye_raboty{
    background-image: url('images/services/svaynye_raboty.png');	
}	
#content .services-icon.ico_ustroystvo_beton_i_zhelezobeton_monolit{
    background-image: url('images/services/ustroystvo_beton_i_zhelezobeton_monolit.png');	
}	
#content .services-icon.ico_montazh_beton_i_zhelezobeton{
    background-image: url('images/services/montazh_beton_i_zhelezobeton.png');	
}
#content .services-icon.ico_montazh_metallkonstruktsiy{
    background-image: url('images/services/montazh_metallkonstruktsiy.png');	
}	
#content .services-icon.ico_montazhnye_raboty{
    background-image: url('images/services/montazhnye_raboty.png');	
}	
#content .services-icon.ico_elektromontazhnye_raboty{
    background-image: url('images/services/elektromontazhnye_raboty.png');	
}

/* -- Content: end --*/


/* -- Footer: start --*/
#footer-wrapper {
    background: url(images/bg_footer-line.png) no-repeat scroll right  bottom 90px #111111;
    color: #333;
    font-size: 16px;
    min-height: 160px;
}
#footer-menu{
    min-height: 90px;
    overflow: hidden;
}
#footer-menu ul.footer-links{
    margin: 0; 
    padding: 50px 0 50px 30px;
    list-style: none;
    float: left;
}
#footer-menu ul.footer-links > li{
    margin: 0 15px 10px 0;
    width: 345px;
}
#footer-menu ul.footer-links:last-child li{
    margin-right: 0;
    width: 330px;
}
#footer-menu ul.footer-links a{
    color: #555;
    text-decoration: none;
}
#footer-menu ul.footer-links a:before{
    content: "\2014";
    color: #333;
    width: 30px;
    display: inline-block;
    text-align: center;
    margin-left: -30px;
}
#footer-menu ul.footer-links a:hover{
    color: #f58222;
}
#footer-menu ul.footer-links a:hover:before{
    color: #fff;
}
#footer-text{
    overflow:hidden;
}
#footer-text > div{
    float: left;
    width: 375px;
    padding: 30px 0;
}
#footer-text #footer-company{
    background:url(images/footer_company.png) no-repeat scroll 0 32px ;
    padding-left: 70px;
    width: 290px;
}
#footer-text #footer-address{
    background:url(images/footer_address.png) no-repeat scroll 0 32px ;
    padding-left: 52px;
    width: 436px;
}
#footer-text #footer-phone{
    background:url(images/footer_phone.png) no-repeat scroll 0 32px ;
    padding-left: 62px;
    width: 230px;
    font: bold 25px/39px 'Roboto Black', helvetica;
}
/* -- Footer: end -- */

/* -- Dialogs: start -- */
#dialog-view-image{
    display: none;
    position:fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top:0;  
    z-index: 100;
}
#dialog-view-image-close{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    position: fixed;
    right: 10%;
    top: 5%;
}
#dialog-view-image-content{
    position: fixed;
    text-align: center;
    height: 100%;
    width: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}
#dialog-view-image-content img{
    max-height: 80%;
    max-width: 80%;
    margin: 3% 3% 1.5% 3%;
}
#dialog-view-image-content .image-description{
    color: #fff;
    margin: 1.5% 3% 3% 3% ;
}
#dialog-view-image-content a {
    color: #fff;
}
/* -- Dialogs: end -- */

