.back-to-list{
    margin: 30px 0;
}
.back-to-list a{
    color: #f58222;
    font-style: italic;
}
.service-details{
    position: relative;
    overflow: hidden;
}
.service-details .item-properties{
    margin-bottom: 80px;
}
#pagetitle .item-property .item-property-name,
.service-details .item-property .item-property-name{
    display:none;
}
#pagetitle .item-property.property_status,
.service-details .item-property.property_status{

    border: 1px dotted #f58222;
    color: #f58222;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 12px;
    text-transform: lowercase;
    font-family: 'Roboto';
}
#pagetitle .item-property.property_status{
    vertical-align: super;
    display: inline-block;
    margin: -5px 0 0 5px;
}
.service-details .item-property.property_status{
    display: none;
}
.service-details .item-preview-text{
    width: 530px;
    float:left;
    border-left: 1px solid #f58222;
    margin: 0 15px;
    padding: 0 20px;
}
.service-details .item-preview-text::before{
    content: "Выполняемые работы:";
    font-size: 140%;
    position: absolute;
    margin: -60px 0 0 -35px;
}
.service-details .item-detail-text{
    padding-left: 530px;
    border-left: 1px solid #f58222;
    margin: 0 15px 0 615px;
    padding: 0 20px;
}
.service-details .item-detail-text::before{
    content: "Дополнительная информация:";
    font-size: 140%;
    position: absolute;
    margin: -60px 0 0 -25px;
}
#workarea .service-details .item-preview-text p:first-child,
#workarea .service-details .item-detail-text p:first-child{
    margin-top: 0;
}
#service_projects{
    padding-top: 30px;
    clear: both;
}
#service_projects h4 a.see-all{
    font-size: 16px;
    font-family: 'Roboto', Helvetica;
    text-transform: none;
    font-style: italic;
    color: #f58222;
    text-decoration: underline;
    margin-left: 30px;
}
#service_projects .projects-list{
    margin: 30px -15px;
}

.projects-list-empty{
    color: #b4b4b4;
    text-align: center;
}
