.projects-list{
    word-wrap: break-word;
    overflow: hidden;
    margin: 60px -15px;
}
.projects-list .project-item{
    width: 358px;
    height: 265px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid #ebebeb;
    margin: 15px;
}
.projects-list .project-item .preview_picture{
    height: 305px;
    width: auto;
    transition: all ease 300ms;
}
.projects-list .project-item .item-link{
    display: block;
    position: absolute;
    color: #fff;
    text-decoration: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.7),rgba(0,0,0,.75), rgba(0,0,0,.8));
}
.projects-list .project-item .item-link-content{
    display:block;
    padding: 110px 20px 20px;
}
.projects-list .project-item .item-name{
    display:block;
    font-size:140%; 
    font-weight: lighter; 
    line-height:1.34em;
    padding-bottom: 15px;
}
.projects-list .project-item .item-date-time{
    display:none;
}

.projects-list .project-item .item-property-name{
    display: none;
}
.projects-list .project-item .item-property{
    display: block;
    padding: 5px 13px;
    border: 1px solid transparent;
    font-weight: normal;
}
.projects-list .project-item .item-property.property_status{   
    border: 1px solid #f58222;
    color: #f58222;
    border-radius: 4px;
    position: absolute;
    left:20px;
    bottom: 20px;
}
.projects-list .project-item .item-property.property_status .item-property-value::before{
    content: " ";
    display: block;
    float:left;
    width:18px;
    height: 18px;
    background: url('/local/templates/aem/images/ico_project-status_running.png') no-repeat left center transparent;
    margin: 2px 5px 1px -5px;
}
.projects-list .project-item .item-property.property_status .item-property-value.complete::before{
    background-image: url('/local/templates/aem/images/ico_project-status_complete.png')
}
.projects-list .project-item .item-property.property_location{
    
    position: absolute;
    top:80px;
    left: 20px;
    padding: 0;
}
.projects-list .project-item .item-property.property_services{
    padding: 0;
    position: absolute;
    right:15px;
    bottom: 15px;
}
.projects-list .project-item .item-property.property_services .item-property-value span{
    display: inline-block;
    height: 28px;
    width: 0px;
    padding-left: 28px;
    overflow: hidden;
    background-position: center center;
    background-size: contain;
    margin-right: 3px;
    border: 2px solid transparent;
    border-radius: 4px;
}
.projects-list .project-item .item-property.property_services .item-property-value span.ico_svaynye_raboty{
    background-position-y: bottom 3px !important;
}

.projects-list .project-item:hover{
    border-color: #f58222;
}
.projects-list .project-item:hover .item-link{
    background: linear-gradient(to bottom, rgba(245, 130, 34,.1), rgba(245, 130, 34,.7), rgba(245, 130, 34,.75), rgba(245, 130, 34,.8));
}
.projects-list .project-item:hover .item-property.property_status{
    border-color: #fff;
    color: #fff;
}
.projects-list .project-item:hover .item-property.property_services .item-property-value span{
    background-color: #fff;
    border-color: #fff;
}
.projects-list .project-item:hover .preview_picture{
    transition: all ease 1800ms;
    transform: scale(1.05,1.05);
}

/* -- Animation -- */
.projects-list .project-item{
    opacity: 0;
}
.projects-list .project-item.animate{
    -webkit-transform: translateY(200px);
    transform: translateY(-200px);
    -webkit-animation: moveUp 0.65s ease forwards;
    animation: moveUp 0.65s ease forwards;
}
@-webkit-keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}