.news-list{
    word-wrap: break-word;
    overflow: hidden;

}
.news-item{
    position: relative;
    padding-left: 100px;
    min-height: 73px;
    margin-bottom: 30px;
}
.news-item a{
    display:block;
    color: #f58222;
    font-style: italic;
}

.news-item .item-date-time{
    left: 0;
    top: 0;
    width: 61px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    display: block;
    position: absolute;
    height:70px;
    padding: 2px;
    text-align: center;
    text-transform: lowercase;
}
.news-item .item-date-time span:first-child{
    font-size: 300%;
    display: block;
    line-height: 100%;
    display: block;
}
