/**Top menu**/
#top-multilevel-menu,#top-multilevel-menu ul
{
    margin:0; padding:0;
    background:transparent;
    min-height:27px;
    width:100%;
    list-style:none;
    font-size: 14px;
    font-weight:lighter;
    font-family: 'Roboto Condensed', Helvetica;
    float:left;
    /*font-size:90%*/
}

#top-multilevel-menu
{

}

/*Links*/
#top-multilevel-menu a
{
    display:block;
    padding:5px 10px;
    /*padding:0.3em 0.8em;*/
    text-decoration:none;
    text-align:center;
}

#top-multilevel-menu li
{
    float:left;
}

/*Root items*/
#top-multilevel-menu li a.root-item
{
    color:#333;
    font-size: 14px;
    font-weight:normal;
    font-family: 'Roboto Condensed', Helvetica;
    text-transform: uppercase;
    padding:0px 18px;
}

/*Root menu selected*/
#top-multilevel-menu li a.root-item-selected
{
    background: transparent;
    color:#f58222;
    text-transform: uppercase;
    padding:0px 18px;
}

/*Root items: hover*/
#top-multilevel-menu li:hover a.root-item, #top-multilevel-menu li.jshover a.root-item
{
    background: #fff;
    color:#f58222;
}

/*Item-parents*/
#top-multilevel-menu a.parent
{
    background: url(images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#top-multilevel-menu a.denied
{
    background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#top-multilevel-menu li:hover, #top-multilevel-menu li.jshover
{
    color:#f58222;
}

/*Child-items selected*/
#top-multilevel-menu li.item-selected
{
    background:#D6D6D6;
    color:#fff;
}

/*Sub-menu box*/
#top-multilevel-menu li ul
{
    position:absolute;
    /*top:-999em;*/
    top:auto;
    display:none;
    z-index:500;

    height:auto;
    /*width:12em;*/
    min-width:135px;
    max-width:270px;
    background:#F5F5F5;
    border:1px solid #C1C1C1;
    line-height: 22px;
}

/*Sub-menu item box*/
#top-multilevel-menu li li
{
    width:100%;
    border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#top-multilevel-menu li ul a
{
    text-align:left;
}

/*Items text color & size */
#top-multilevel-menu li a,
#top-multilevel-menu li:hover li a,
#top-multilevel-menu li.jshover li a,
#top-multilevel-menu li:hover li:hover li a,
#top-multilevel-menu li.jshover li.jshover li a,
#top-multilevel-menu li:hover li:hover li:hover li a,
#top-multilevel-menu li.jshover li.jshover li.jshover li a,
#top-multilevel-menu li:hover li:hover li:hover li:hover li a,
#top-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#top-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#top-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
    color:#f58222;
}

/*Items text color & size: hover*/
#top-multilevel-menu li:hover li:hover a,
#top-multilevel-menu li.jshover li.jshover a,
#top-multilevel-menu li:hover li:hover li:hover a,
#top-multilevel-menu li.jshover li.jshover li.jshover a,
#top-multilevel-menu li:hover li:hover li:hover li:hover a,
#top-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#top-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#top-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#top-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#top-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
    color:#f58222;
}

#top-multilevel-menu li ul ul
{
    margin:-27px 0 0 132px;
    /*margin:-1.93em 0 0 11.6em;*/
}

#top-multilevel-menu li:hover ul ul,
#top-multilevel-menu li.jshover ul ul,
#top-multilevel-menu li:hover ul ul ul,
#top-multilevel-menu li.jshover ul ul ul,
#top-multilevel-menu li:hover ul ul ul ul,
#top-multilevel-menu li.jshover ul ul ul ul,
#top-multilevel-menu li:hover ul ul ul ul ul,
#top-multilevel-menu li.jshover ul ul ul ul ul
{
    /*top:-999em;*/
    display:none;
}

#top-multilevel-menu li:hover ul,
#top-multilevel-menu li.jshover ul,
#top-multilevel-menu li li:hover ul,
#top-multilevel-menu li li.jshover ul,
#top-multilevel-menu li li li:hover ul,
#top-multilevel-menu li li li.jshover ul,
#top-multilevel-menu li li li li:hover ul,
#top-multilevel-menu li li li li.jshover ul,
#top-multilevel-menu li li li li li:hover ul,
#top-multilevel-menu li li li li li.jshover ul
{
    /*z-index:1000;
    top:auto;*/
    display:block;
}

div.menu-clear-left
{
    clear:left;
}
