.back-to-list{
    margin: 30px 15px;
}
.back-to-list a{
    color: #f58222;
    font-style: italic;
}
.project-details{
    position: relative;
    overflow: hidden;
}
.project-details .item-properties{
    margin-bottom: 80px;
}
#pagetitle .item-property .item-property-name,
.project-details .item-property .item-property-name{
    display:none;
}
#pagetitle .item-property.property_status,
.project-details .item-property.property_status{

    border: 1px dotted #f58222;
    color: #f58222;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 12px;
    text-transform: lowercase;
    font-family: 'Roboto';
}
#pagetitle .item-property.property_status{
    position: absolute;
    display: block;
    margin: -5px 0 0 5px;
    right: 0;
    top: 160px;
}
.project-details .item-property.property_status{
    display: none;
}
.project-details .item-property.property_status .item-property-value::before{
    content: " ";
    display: block;
    float:left;
    width:18px;
    height: 18px;
    background: url('/local/templates/aem/images/ico_project-status_running.png') no-repeat left center transparent;
    margin: 2px 5px 1px -5px;
}
.projects-list .project-item .item-property.property_status .item-property-value.complete::before{
    background-image: url('/local/templates/aem/images/ico_project-status_complete.png')
}
.project-details .item-property.property_address,
.project-details .item-property.property_services{
    display: inline-block;
    font-size: 150%;
    font-weight: 300;
    line-height: 36px;
    margin-right: 30px;
}
.project-details .item-property.property_address{
    background: url(/local/templates/aem/images/ico_address.png) no-repeat scroll left center;
    padding-left: 34px;
}
.project-details .item-property.property_services .item-property-value span{
    display: inline-block;
    height: 36px;
    width: 0px;
    padding-left: 36px;
    overflow: hidden;
    background-position: center center;
    background-size: contain;
    margin-right: 3px;
    border: 3px solid transparent;
    border-radius: 4px;
    vertical-align: middle;
}
.project-details .item-property.property_foto_video{
    margin: 30px 0;
}
.project-details .fotorama__stage{
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    background: #f5f5f5;
    max-height: 520px;
}
.project-details .fotorama__stage .fotorama__img{
    margin-top: -40px;
}
.project-details .fotorama__thumb-border{
    border-color: #f58222;
}
.project-details .fotorama__thumb{
    border: 1px solid #ebebeb;
    box-sizing: border-box;
}
.project-details .fotorama__thumb img{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.project-details .fotorama__active .fotorama__thumb img{
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
}
.project-details .fotorama__nav-wrap{
    margin: 0 70px;
}

.project-details .fotorama_custom__arr{
    position: absolute;
    height: 115px;
    width: 70px;
    bottom: 30px;
    cursor: pointer;
}
.project-details .fotorama_custom__arr.fotorama_custom__arr--next{
    background: url(/local/templates/aem/images/arrow_right.png) center center no-repeat scroll #fff;
    height: 115px;
    right: 0;
}
.project-details .fotorama_custom__arr.fotorama_custom__arr--prev{
    background: url(/local/templates/aem/images/arrow_left.png) center center no-repeat scroll #fff;
    height: 115px;
    left: 0;
}
.project-details .item-preview-text{
    width: 530px;
    float:left;
    border-left: 1px solid #f58222;
    margin: 0 15px;
    padding: 0 20px;
}
.project-details .item-preview-text::before{
    content: "Выполняемые работы:";
    font-size: 140%;
    position: absolute;
    margin: -60px 0 0 -25px;
}
.project-details .item-detail-text{
    padding-left: 530px;
    border-left: 1px solid #f58222;
    margin: 0 15px 0 615px;
    padding: 0 20px;
}
.project-details .item-detail-text::before{
    content: "Справочно:";
    font-size: 140%;
    position: absolute;
    margin: -60px 0 0 -25px;
}
#workarea .project-details .item-preview-text p:first-child,
#workarea .project-details .item-detail-text p:first-child{
    margin-top: 0;
}

/*.project-details .fotorama__arr.fotorama__arr--next*/