.services-list{
    word-wrap: break-word;
    overflow: hidden;
    margin: 0 -15px;
}
.services-list .services-item{
    width: 220px;
    height: 300px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin: 15px;
    padding: 120px 20px 20px;
    background: url(/local/templates/aem/images/bg_header-line.png) no-repeat right -90px top -20px scroll;
    transition: all ease 250ms;
}
.services-list .services-item:hover{
    border-color: #f58222;
    box-shadow: 0 0 30px #ebebeb;
    cursor: pointer;
    /*transform: scale(1.01,1.01);*/
}
.services-list .services-item .services-icon{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 52px;
    height: 52px;
    display: block;
    background-size: cover;
}
.services-list .services-item .item-link{
    text-decoration: none;
}
.services-list .services-item .item-name{
    display:block;
    font-size:109%; 
    font-weight: lighter; 
    line-height:1.34em;
    padding-bottom: 15px;
    /*min-height: 50px;*/
}
.services-list .services-item .item-link{
    color: #333;
}
.services-list .services-item .item-description{
    color: #747474;
    font-size: 85%;
}

.services-list .services-item:hover .item-name{
    color: #f58222;
}
#workarea .services-list .services-item ul  {
    margin: 0;
    padding: 0 0 0 20px; 
}
#workarea .services-list .services-item ul li{
    margin-top: 0;
}
.services-list .services-item:after{
    content: " ";
    display:block;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255,.1), rgba(255, 255, 255,.75), rgba(255, 255, 255,.9), rgba(255, 255, 255,1),rgba(255, 255, 255,1), rgba(255, 255, 255,1));
}
